.job-container {
    border-top: solid 1px #dedede;
    display: flex;
    width: 95%;
    height: 270px;
    padding: 35px;
}

.job-container figure {
    display: flex;
    align-items: center;
    margin: 40px;
}

.container-data-job {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.job-container h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #34495e;
}

.job-container .items-job {
    color: var(--atributes-textItems-collor);
    display: flex;
    flex-wrap: wrap;
}

.job-container .items-job span {
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    margin-left: 10px;
    display: flex;
}

.job-container .items-job span .icon {
    margin-right: 3px;
}

.list-tag-skills {
    display: flex;
    align-content: center;
    height: fit-content;
}

.list-tag-skills span {
    background-color: #f4f4f4;
    border-radius: 17%;
    padding: 6px 15px;
    margin-right: 6px;
    color: #34495e;
}