@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300&display=swap');
:root {
    --background-main-collor: #FFFFFF;
    --backgroud-main-hover-collor: #EEEEEE;
    --background-item-collor: #F4F4F4;
    --highlight-text-collor: #FFFFFFFF;
    --navigation-text-collor: #C0C0C1;
    --main-text-collor: #34495E;
    --main-text-hover-collor: #323B44;
    --atributes-textItems-collor: #808080;
    --link-text-collor-hover: #000;
    --primary-collor-button-hover: #22303D;
    --live-green-color: #32B796
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 10vh;
}

a {
    text-decoration: none;
}

html,
body,
#root {
    background-color: var(--background-main-collor);
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
}

li {
    list-style: none;
}

.tag {
    box-shadow: 0px 0px 2px rgb(0 0 0 / 30%);
    background-color: #f4f4f4;
    color: #34495e;
    width: fit-content;
    padding: 6px 15px;
    font-size: 0.9rem;
    border-radius: 1em;
    margin: 0 6px 5px 0;
}